
div.upTeeth > *, div.downTeeth > * {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center bottom; 
    width: 3.3vw;
    height: 10vh;
    background-size: contain;
}

div.upTeeth > div:nth-child(8), div.downTeeth > div:nth-child(8){
    border-right: 1px solid Aquamarine;;
}



@media screen and (max-width: 576px) {
    div.upTeeth > *, div.downTeeth > * {
        margin-left: 2.3vw;
    }
}  

div.downTeeth > * {
    background-position: center top;
}

.activeTeeth{
    background-color: CornflowerBlue;
}

.tooth-18{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/18.png);
   
}
.tooth-17{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/17.png);
   
}
.tooth-16{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/16.png);
   
}
.tooth-15{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/15.png);
   
    
}
.tooth-14{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/14.png);
    
}

.tooth-13{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/13.png);
   
}
.tooth-12{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/12.png);
    
}
.tooth-11{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/11.png);
}
.tooth-21{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/11.png);
    transform: scaleX(-1);
}
.tooth-22{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/12.png);
    transform: scaleX(-1);
}
.tooth-23{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/13.png);
    transform: scaleX(-1);
}
.tooth-24{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/14.png);
    transform: scaleX(-1);
}
.tooth-25{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/15.png);
    transform: scaleX(-1);
}
.tooth-26{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/16.png);
    transform: scaleX(-1);
}
.tooth-27{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/17.png);
    transform: scaleX(-1);
}
.tooth-28{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/18.png);
    transform: scaleX(-1);
}

.tooth-48{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/48.png);
}
.tooth-47{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/47.png);
}
.tooth-46{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/46.png);
}
.tooth-45{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/45.png);
}
.tooth-44{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/44.png);
}
.tooth-43{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/43.png);
}
.tooth-42{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/42.png);
}
.tooth-41{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/41.png);
}
.tooth-31{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/41.png);
    transform: scaleX(-1);
}
.tooth-32{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/42.png);
    transform: scaleX(-1);
}
.tooth-33{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/43.png);
    transform: scaleX(-1);
}
.tooth-34{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/44.png);
    transform: scaleX(-1);
}
.tooth-35{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/45.png);
    transform: scaleX(-1);
}
.tooth-36{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/46.png);
    transform: scaleX(-1);
}
.tooth-37{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/47.png);
    transform: scaleX(-1);
}
.tooth-38{
    background-image: url(https://lv301storage.blob.core.windows.net/teeth/48.png);
    transform: scaleX(-1);
}

.plus{
    color: crimson
}
.plus:hover{
    color: black;
    cursor: pointer;
}

.service-holder{
    max-height: 225px;
    overflow: auto;
}

div.downTeeth {
    border-top: 1px solid Aquamarine;
}