.btn.btn-secondary.doctor-list {
    width: 100%;
    margin-bottom: 10px;
    color : white;
    text-align: left;
  }
  li {
    list-style-type: none;
  }
  .doctor-main{
    align-content: center;
  }

  .btn.my-list-header{
    background-color: grey;
  }

  