.center-block {
    margin-bottom: 20px;
}

.my-img{
    border-radius: 40%;
    width: 50%;
}

.btn.btn-success{
    width:50%;
    background-color: seagreen;
}

.container{
    vertical-align: middle;
}