.textarea__count{
    color : #495057;
    margin-bottom: 3px;
}

.user-profile-image{
    border-radius: 40%;
    width: 40%;
}

.my_textarea{
    min-height: 40vh;
    max-height: 40vh;
}

.div_toothinfo{
    margin-top: 1vh;
}

.down-page{
    top: 87.7%  
}

.full-width{
    width: 100%;
}

.my-span{
    float: right;
    color : #495057;
}

@media screen and (max-width: 576px) {
    .btn-bootstrap{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) {
    .bootstap-change-margin{
        margin-bottom: -20px;
    }
}

