.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.copyright{
  height: 50px;
}

.spacer-25-vertical{
  height: 25%;
}

.error-message{
  color: red;
  font-size: 2vh;
}

.add-scroll{
  height:75%;
  overflow-y: auto;
}

.list-group button.active{
  background-color: rgb(94, 110, 110);
  border-color: #fff;
}